In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# 设置matplotlib正常显示中文字符
from pylab import mpl
mpl.rcParams['font.sans-serif'] = ['SimHei']

In [78]:
# 获取数据
url=r"D:\VSCodeWorkSpace\2024_C\data\两个地区数据(1).xlsx"
Abingdon=pd.read_excel(url,sheet_name='Abingdon',header=0)
Santa_Cruz=pd.read_excel(url,sheet_name='Santa Cruz',header=0)
Abingdon

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-896315,Snow,Light,2016-01-04 12:55:00,2016-01-04 13:15:00,0.00,US/Eastern,KVJI,36.6871,-82.0333,Abingdon,Washington,VA,24210
1,W-896316,Snow,Light,2016-01-04 13:35:00,2016-01-04 13:55:00,0.00,US/Eastern,KVJI,36.6871,-82.0333,Abingdon,Washington,VA,24210
2,W-896317,Snow,Light,2016-01-04 15:00:00,2016-01-04 15:40:00,0.00,US/Eastern,KVJI,36.6871,-82.0333,Abingdon,Washington,VA,24210
3,W-896318,Snow,Light,2016-01-04 17:55:00,2016-01-04 18:35:00,0.00,US/Eastern,KVJI,36.6871,-82.0333,Abingdon,Washington,VA,24210
4,W-896319,Snow,Light,2016-01-04 20:15:00,2016-01-04 20:35:00,0.00,US/Eastern,KVJI,36.6871,-82.0333,Abingdon,Washington,VA,24210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6065,W-902380,Rain,Moderate,2022-12-31 18:35:00,2022-12-31 19:15:00,0.21,US/Eastern,KVJI,36.6871,-82.0333,Abingdon,Washington,VA,24210
6066,W-902381,Rain,Light,2022-12-31 19:15:00,2022-12-31 19:55:00,0.14,US/Eastern,KVJI,36.6871,-82.0333,Abingdon,Washington,VA,24210
6067,W-902382,Rain,Moderate,2022-12-31 19:55:00,2022-12-31 20:15:00,0.15,US/Eastern,KVJI,36.6871,-82.0333,Abingdon,Washington,VA,24210
6068,W-902383,Rain,Light,2022-12-31 20:15:00,2022-12-31 20:55:00,0.14,US/Eastern,KVJI,36.6871,-82.0333,Abingdon,Washington,VA,24210
6069,W-902384,Rain,Moderate,2022-12-31 20:55:00,2022-12-31 21:15:00,0.13,US/Eastern,KVJI,36.6871,-82.0333,Abingdon,Washington,VA,24210

In [79]:
Santa_Cruz

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-124849,Fog,Moderate,2016-01-02 00:53:00,2016-01-02 01:53:00,0.00,US/Pacific,KWVI,36.9394,-121.79,Freedom,Santa Cruz,CA,95019
1,W-124850,Rain,Light,2016-01-04 02:53:00,2016-01-04 05:53:00,0.02,US/Pacific,KWVI,36.9394,-121.79,Freedom,Santa Cruz,CA,95019
2,W-124851,Rain,Light,2016-01-04 11:53:00,2016-01-04 17:53:00,0.22,US/Pacific,KWVI,36.9394,-121.79,Freedom,Santa Cruz,CA,95019
3,W-124852,Rain,Light,2016-01-05 06:53:00,2016-01-05 12:48:00,0.23,US/Pacific,KWVI,36.9394,-121.79,Freedom,Santa Cruz,CA,95019
4,W-124853,Rain,Moderate,2016-01-05 12:48:00,2016-01-05 13:50:00,1.11,US/Pacific,KWVI,36.9394,-121.79,Freedom,Santa Cruz,CA,95019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3736,W-128585,Rain,Moderate,2022-12-31 20:53:00,2022-12-31 20:58:00,0.23,US/Pacific,KWVI,36.9394,-121.79,Freedom,Santa Cruz,CA,95019
3737,W-128586,Rain,Light,2022-12-31 20:58:00,2022-12-31 21:07:00,0.03,US/Pacific,KWVI,36.9394,-121.79,Freedom,Santa Cruz,CA,95019
3738,W-128587,Rain,Moderate,2022-12-31 21:07:00,2022-12-31 21:39:00,0.54,US/Pacific,KWVI,36.9394,-121.79,Freedom,Santa Cruz,CA,95019
3739,W-128588,Rain,Heavy,2022-12-31 21:39:00,2022-12-31 22:03:00,0.81,US/Pacific,KWVI,36.9394,-121.79,Freedom,Santa Cruz,CA,95019
3740,W-128589,Rain,Light,2022-12-31 22:03:00,2022-12-31 22:44:00,0.16,US/Pacific,KWVI,36.9394,-121.79,Freedom,Santa Cruz,CA,95019

In [80]:
# 筛选需要信息(时间、严重性、地点)

def filter_data(df):
    filter_data=df[['Severity','StartTime(UTC)','City']]
    return filter_data
Abingdon_filter=filter_data(Abingdon)
Santa_Cruz_filter=filter_data(Santa_Cruz)
dates=Abingdon_filter['StartTime(UTC)']
Abingdon_filter

      Severity      StartTime(UTC)      City
0        Light 2016-01-04 12:55:00  Abingdon
1        Light 2016-01-04 13:35:00  Abingdon
2        Light 2016-01-04 15:00:00  Abingdon
3        Light 2016-01-04 17:55:00  Abingdon
4        Light 2016-01-04 20:15:00  Abingdon
...        ...                 ...       ...
6065  Moderate 2022-12-31 18:35:00  Abingdon
6066     Light 2022-12-31 19:15:00  Abingdon
6067  Moderate 2022-12-31 19:55:00  Abingdon
6068     Light 2022-12-31 20:15:00  Abingdon
6069  Moderate 2022-12-31 20:55:00  Abingdon

[6070 rows x 3 columns]

In [81]:
Santa_Cruz_filter

      Severity      StartTime(UTC)     City
0     Moderate 2016-01-02 00:53:00  Freedom
1        Light 2016-01-04 02:53:00  Freedom
2        Light 2016-01-04 11:53:00  Freedom
3        Light 2016-01-05 06:53:00  Freedom
4     Moderate 2016-01-05 12:48:00  Freedom
...        ...                 ...      ...
3736  Moderate 2022-12-31 20:53:00  Freedom
3737     Light 2022-12-31 20:58:00  Freedom
3738  Moderate 2022-12-31 21:07:00  Freedom
3739     Heavy 2022-12-31 21:39:00  Freedom
3740     Light 2022-12-31 22:03:00  Freedom

[3741 rows x 3 columns]

In [82]:
# 去掉Severity为UNK的行
def drop_unknown(df):
    df=df[df['Severity'] != 'UNK']
    df.reset_index(drop=True,inplace=True)
    return df
Abingdon_filter=drop_unknown(Abingdon_filter)
Santa_Cruz_filter=drop_unknown(Santa_Cruz_filter)
Abingdon_filter

      Severity      StartTime(UTC)      City
0        Light 2016-01-04 12:55:00  Abingdon
1        Light 2016-01-04 13:35:00  Abingdon
2        Light 2016-01-04 15:00:00  Abingdon
3        Light 2016-01-04 17:55:00  Abingdon
4        Light 2016-01-04 20:15:00  Abingdon
...        ...                 ...       ...
6006  Moderate 2022-12-31 18:35:00  Abingdon
6007     Light 2022-12-31 19:15:00  Abingdon
6008  Moderate 2022-12-31 19:55:00  Abingdon
6009     Light 2022-12-31 20:15:00  Abingdon
6010  Moderate 2022-12-31 20:55:00  Abingdon

[6011 rows x 3 columns]

In [83]:
Santa_Cruz_filter

      Severity      StartTime(UTC)     City
0     Moderate 2016-01-02 00:53:00  Freedom
1        Light 2016-01-04 02:53:00  Freedom
2        Light 2016-01-04 11:53:00  Freedom
3        Light 2016-01-05 06:53:00  Freedom
4     Moderate 2016-01-05 12:48:00  Freedom
...        ...                 ...      ...
3729  Moderate 2022-12-31 20:53:00  Freedom
3730     Light 2022-12-31 20:58:00  Freedom
3731  Moderate 2022-12-31 21:07:00  Freedom
3732     Heavy 2022-12-31 21:39:00  Freedom
3733     Light 2022-12-31 22:03:00  Freedom

[3734 rows x 3 columns]

In [84]:
# 获取Severity字典
def get_Severity_dic(df):
    event_types = df['Severity'].unique()
    dictionary = pd.DataFrame(columns=['Severity_DEGREE'])
    dictionary['Severity_DEGREE'] = event_types
    dictionary.to_csv('{}.csv'.format('dictionary_2'),index=False)
    return dictionary
ab_severity_dic=get_Severity_dic(Abingdon_filter)
ab_severity_dic

  Severity_DEGREE
0           Light
1        Moderate
2          Severe
3           Heavy

In [85]:
# 获取Severity字典
def get_severity_dict(df):
    severity_dict={}
    for i in range(len(df)):
        severity=df.iloc[i,0]
        if severity in severity_dict:
            severity_dict[severity]+=1
        else:
            severity_dict[severity]=1
    return severity_dict
Abingdon_severity_dict=get_severity_dict(Abingdon_filter)
Santa_Cruz_severity_dict=get_severity_dict(Santa_Cruz_filter)
Abingdon_severity_dict

{'Light': 4376, 'Moderate': 949, 'Severe': 527, 'Heavy': 159}

In [86]:
# 为Severity创建等级映射字典
# 创建一个字典来映射自然灾害事件到等级
severity_levels = {
 
    'Light':2,
    'Moderate':5,
    'Heavy':7,
    'Severe':9
}
# 将字典映射到dataframe中
Abingdon_filter['Severity_DEGREE'] = Abingdon_filter['Severity'].map(severity_levels)
Santa_Cruz_filter['Severity_DEGREE'] = Santa_Cruz_filter['Severity'].map(severity_levels)
Abingdon_filter

C:\Users\JiangJinrui\AppData\Local\Temp\ipykernel_53904\15644521.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Abingdon_filter['Severity_DEGREE'] = Abingdon_filter['Severity'].map(severity_levels)
C:\Users\JiangJinrui\AppData\Local\Temp\ipykernel_53904\15644521.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Santa_Cruz_filter['Severity_DEGREE'] = Santa_Cruz_filter['Severity'].map(severity_levels)

      Severity      StartTime(UTC)      City  Severity_DEGREE
0        Light 2016-01-04 12:55:00  Abingdon                2
1        Light 2016-01-04 13:35:00  Abingdon                2
2        Light 2016-01-04 15:00:00  Abingdon                2
3        Light 2016-01-04 17:55:00  Abingdon                2
4        Light 2016-01-04 20:15:00  Abingdon                2
...        ...                 ...       ...              ...
6006  Moderate 2022-12-31 18:35:00  Abingdon                5
6007     Light 2022-12-31 19:15:00  Abingdon                2
6008  Moderate 2022-12-31 19:55:00  Abingdon                5
6009     Light 2022-12-31 20:15:00  Abingdon                2
6010  Moderate 2022-12-31 20:55:00  Abingdon                5

[6011 rows x 4 columns]

In [87]:
Santa_Cruz_filter

      Severity      StartTime(UTC)     City  Severity_DEGREE
0     Moderate 2016-01-02 00:53:00  Freedom                5
1        Light 2016-01-04 02:53:00  Freedom                2
2        Light 2016-01-04 11:53:00  Freedom                2
3        Light 2016-01-05 06:53:00  Freedom                2
4     Moderate 2016-01-05 12:48:00  Freedom                5
...        ...                 ...      ...              ...
3729  Moderate 2022-12-31 20:53:00  Freedom                5
3730     Light 2022-12-31 20:58:00  Freedom                2
3731  Moderate 2022-12-31 21:07:00  Freedom                5
3732     Heavy 2022-12-31 21:39:00  Freedom                7
3733     Light 2022-12-31 22:03:00  Freedom                2

[3734 rows x 4 columns]

In [88]:
# 统计地区发生各种Severity类型的次数
def get_severity_count(df):
    severity_count={}
    for i in range(len(df)):
        severity=df.iloc[i,0]
        if severity in severity_count:
            severity_count[severity]+=1
        else:
            severity_count[severity]=1
    df['Times']=df['Severity'].map(severity_count)
    #去掉Severity重复的行
    df=df.drop_duplicates(subset=['Severity'],keep='first')
    df=df.drop(['StartTime(UTC)'],axis=1)
    return df
Abingdon_severity_count=get_severity_count(Abingdon_filter)
Santa_Cruz_severity_count=get_severity_count(Santa_Cruz_filter)
Abingdon_severity_count

C:\Users\JiangJinrui\AppData\Local\Temp\ipykernel_53904\4017060913.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Times']=df['Severity'].map(severity_count)
C:\Users\JiangJinrui\AppData\Local\Temp\ipykernel_53904\4017060913.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Times']=df['Severity'].map(severity_count)

    Severity      City  Severity_DEGREE  Times
0      Light  Abingdon                2   4376
8   Moderate  Abingdon                5    949
27    Severe  Abingdon                9    527
60     Heavy  Abingdon                7    159

In [89]:
Santa_Cruz_severity_count

    Severity     City  Severity_DEGREE  Times
0   Moderate  Freedom                5    685
1      Light  Freedom                2   1630
5      Heavy  Freedom                7     73
14    Severe  Freedom                9   1346

### 统计发生的频率

In [101]:
# 按统计2021-2023各州发生各EVENT的rate

#统计观测时间长度
latest_date = pd.to_datetime(dates,format="%d-%b-%y %H:%M:%S").max()
early_date=pd.to_datetime(dates,format="%d-%b-%y %H:%M:%S").min()
row_count_Abingdon = len(Abingdon_filter)

# days_since_2000 = (latest_date - early_date).days

print("最近观测日期:", latest_date)
print("最远观测日期：",early_date)
# print("观测时间长度为:", days_since_2000)

# 计算观测时间内发生事件次数
# 2. 将每个组的"COUNT"总和除以days_since_2000
grouped = Abingdon_severity_count.groupby(['Severity'])["Times"].sum()
rate_Abingdon = grouped / row_count_Abingdon
grouped = grouped.reset_index()
# 3. 将结果保存到名为"rate"的变量中
rate_Abingdon = rate_Abingdon.reset_index()  # 将索引重置为列
rate_Abingdon.columns = ['Severity', "rate_Abingdon"]  # 重命名列
rate_Abingdon.to_csv("result/rate_Abington.csv", index=False)

rate_Abingdon

最近观测日期: 2022-12-31 20:55:00
最远观测日期： 2016-01-04 12:55:00

   Severity  rate_Abingdon
0     Heavy       0.026452
1     Light       0.727999
2  Moderate       0.157877
3    Severe       0.087673

In [100]:
row_count_Santa_Cruz = len(Santa_Cruz_filter)
grouped = Santa_Cruz_severity_count.groupby(['Severity'])["Times"].sum()
rate_Santa = grouped / row_count_Santa_Cruz
grouped = grouped.reset_index()
# 3. 将结果保存到名为"rate"的变量中
rate_Santa = rate_Santa.reset_index()  # 将索引重置为列
rate_Santa.columns = ['Severity', "rate_Santa"]  # 重命名列
rate_Santa.reset_index(drop=True, inplace=True)
rate_Santa.to_csv("result/rate_Santa.csv", index=False)
rate_Santa

   Severity  rate_Santa
0     Heavy    0.019550
1     Light    0.436529
2  Moderate    0.183449
3    Severe    0.360471

In [102]:
#计算风险因子
# 整合事件发生频率与强度
rate_Abingdon['Severity_DEGREE']=rate_Abingdon['Severity'].map(severity_levels)
rate_Santa['Severity_DEGREE']=rate_Santa['Severity'].map(severity_levels)
rate_Abingdon

   Severity  rate_Abingdon  Severity_DEGREE
0     Heavy       0.026452                7
1     Light       0.727999                2
2  Moderate       0.157877                5
3    Severe       0.087673                9

In [117]:
# 风险因子=rate*Degree之和

rate_Abingdon['Risk_Factor']=rate_Abingdon['rate_Abingdon']*rate_Abingdon['Severity_DEGREE']
rate_Santa['Risk_Factor']=rate_Santa['rate_Santa']*rate_Santa['Severity_DEGREE']
rate_Abingdon
result_Abingdon =rate_Abingdon['Risk_Factor'].sum()
result_Santa =rate_Santa['Risk_Factor'].sum()

# 打印结果
print("平均风险因子计算结果为：", result_Abingdon)

平均风险因子计算结果为： 3.219597404757944

In [116]:
rate_Santa
print("平均风险因子计算结果为：", result_Santa)

平均风险因子计算结果为： 5.17139796464917

In [ ]:
# 统计每个年/月的各Severity发生次数
def get_month_severity_count(df):
    import pandas as pd

    # 假设df是你的DataFrame，包含'StartTime(UTC)'和'Severity'等列

    # 将'StartTime(UTC)'列转换为日期时间类型
    df['StartTime(UTC)'] = pd.to_datetime(df['StartTime(UTC)'], format='%Y/%m/%d %H:%M')
    # 添加'YearMonth'列，将年份和月份整合到一起
    df['YearMonth'] = df['StartTime(UTC)'].dt.to_period('M')
    # 按'YearMonth'和'Severity'列分组，计算每个组合的计数
    severity_counts = df.groupby(['YearMonth', 'Severity']).size().unstack(fill_value=0)
    

    return severity_counts

Abingdon_month_severity_count=get_month_severity_count(Abingdon_filter)
Santa_Cruz_month_severity_count=get_month_severity_count(Santa_Cruz_filter)
Abingdon_month_severity_count

C:\Users\JiangJinrui\AppData\Local\Temp\ipykernel_53904\2697482597.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StartTime(UTC)'] = pd.to_datetime(df['StartTime(UTC)'], format='%Y/%m/%d %H:%M')
C:\Users\JiangJinrui\AppData\Local\Temp\ipykernel_53904\2697482597.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['YearMonth'] = df['StartTime(UTC)'].dt.to_period('M')
C:\Users\JiangJinrui\AppData\Local\Temp\ipykernel_53904\2697482597.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StartTime(UTC)'] = pd.to_datetime(df['StartTime(UTC)'], format='%Y/%m/%d %H:%M')
C:\Users\JiangJinrui\AppData\Local\Temp\ipykernel_53904\2697482597.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['YearMonth'] = df['StartTime(UTC)'].dt.to_period('M')

Severity   Heavy  Light  Moderate  Severe
YearMonth
2016-01        1     61        10      12
2016-02        3     93        17       5
2016-03        1     33         5       4
2016-04        1     49        16       1
2016-05        3     77         7       2
...          ...    ...       ...     ...
2022-08        3     14         7      10
2022-09        1     33         8       9
2022-10        0     38        18       9
2022-11        0     52        14       9
2022-12        0     56        17      20

[84 rows x 4 columns]

In [115]:
Santa_Cruz_month_severity_count

Severity   Heavy  Light  Moderate  Severe
YearMonth
2016-01        1     70        25      13
2016-02        0      5         2       4
2016-03        4     55        20       7
2016-04        0     17         0       0
2016-05        0      5         0       5
...          ...    ...       ...     ...
2022-08        0      1         0      47
2022-09        3     12        10      11
2022-10        0      0         0      40
2022-11        1     19         5       8
2022-12       12     76        36       9

[84 rows x 4 columns]